<style>

  #size-guide{
  opacity:0;
  }

  .size-guide-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
    z-index: 3;
  }
  .size-guide-content {
    background: white;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 0;
  }
  .sg-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  #sg-open-modal {
    border: none;
    background: transparent;
    color: #ef3133;
    font-family: Rubik;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: underline;
  }
  .size-guide-modal img {
    width: 100%;
    height: auto;
    max-height: 650px;
  }

@media screen and (max-width:1281px){
  .size-guide-modal img{width:90%;}
}
  @media(max-width:750px)
  {   .size-guide-content{width:80%;} }
</style>

<div id="size-guide" class="size-guide-modal">
  <div class="size-guide-content">
    <span class="sg-close-button" id="sg-close-modal"><svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon icon-close">
        <g id="Menu / Close_MD">
        <path id="Vector" d="M19.5 20.25L6.5 6.75M19.5 6.75L6.5 20.25" stroke="#221F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </g>
        </svg></span>
    {{ product.metafields.custom.size_chart | image_url: width: '1500' | image_tag : alt: "size guide" }}
  </div>
</div>
