 <style>
  .back {
    background-color: #F6ECA2;
    height: 23px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #282728;
    font-size: 13px;
    font-family: "Inter-Medium";
    margin-left: auto;
}
    </style>

    <div class="back">
      New Arrivals
    </div>