 <style>
      .back {
/*     background-color: #5587B7; */
    background-color: #F6ECA2;
    height: 23px;
    width: 78px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
/*     color: white; */
    color: #282728;
    font-size: 13px;
        font-family: "Inter-Medium";
            margin-left: auto;
}
    </style>

    <div class="back">
        Bestseller
    </div>
