{{ 'homepage-product-grid.css' | asset_url | stylesheet_tag }}

<section class="home-grid-section">
  <div class="container">
    {% comment %}  {% endcomment %}
    {% for block in section.blocks %}
      {% comment %} {% assign home_grid_product = all_products[block.settings.home-grid-product] %} {% endcomment %}
      <div class="watch-card ">
        <div class="img-height">
          {% if block.grid_product_url != blank %}
            <a href="{{ block.grid_product_url }}">
              {% if block.grid_product_image != blank %}
                {{
                  block.grid_product_image
                  | image_url: width: 200
                  | image_tag: class: 'watch-image', loading: 'lazy'
                }}
              {% endif %}
            </a>
          {% endif %}
        </div>
        <div class="overlay">
          <div class="overlay-content">
            <p>{{ block.grid_product_text }}</p>
            <div class="arrow">
              <svg viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Image Blocks Section",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "image_block",
      "name": "Image Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "grid_product_image",
          "label": "Product image"
        },
        {
          "type": "url",
          "id": "grid_product_url",
          "label": "Product URL"
        },
        {
          "type": "text",
          "id": "grid_product_text",
          "label": "Product text",
          "default": "Enter text"
        },
        {
          "type": "select",
          "id": "desktop_view",
          "label": "Desktop grid width",
          "options": [
            {
              "value": "1fr",
              "label": "1fr"
            },
            {
              "value": "2fr",
              "label": "2fr"
            }
          ]
        },
        {
          "type": "select",
          "id": "tablet_view",
          "label": "Tablet grid width",
          "options": [
            {
              "value": "1fr",
              "label": "1fr"
            },
            {
              "value": "2fr",
              "label": "2fr"
            }
          ]
        },
        {
          "type": "select",
          "id": "mobile_view",
          "label": "Mobile grid width",
          "options": [
            {
              "value": "1fr",
              "label": "1fr"
            },
            {
              "value": "2fr",
              "label": "2fr"
            }
          ]
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "Image Blocks Section"
    }
  ]
}
{% endschema %}