<div class="page-width">
  <div  class="container">
			<img src="https://cdn.shopify.com/s/files/1/0628/7690/9727/files/TEP_1.jpg?v=1710241518">
  </div>

    <section class="banner-area pt-30 pl-15 pr-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="banner mb-30">
                                <a href="shop.html"><img src="https://cdn.shopify.com/s/files/1/0628/7690/9727/files/product1.jpg?v=1710241743" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="banner mb-30">
                                <a href="shop.html"><img src="https://cdn.shopify.com/s/files/1/0628/7690/9727/files/product2.jpg?v=1710241748" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="banner mb-30">
                                <a href="shop.html"><img src="ihttps://cdn.shopify.com/s/files/1/0628/7690/9727/files/product3.jpg?v=1710241751" alt=""></a>
                            </div>
                        </div>
						
                    </div>
                </div>
            </section>
  
</div>
{% schema %}
  {
    "name": "Static Section",
    "settings": [],
    "presets":[{"name":"Landing Page"}]
  }
{% endschema %}