<style>
  .static-section{
    padding:1em;
  }
  .static-section .row{
    display:flex;
  }
  .static-section .container{
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .static-section .col-lg-4{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  @media screen and (min-width:992px){
    .static-section .col-lg-4{
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
  }
</style>
<div class="static-section">
  <div  class="container">
			<img src="https://cdn.shopify.com/s/files/1/0628/7690/9727/files/TEP_1.jpg?v=1710241518">
  </div>

    <div class="banner-area pt-30 pl-15 pr-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="banner mb-30">
                                <a href="shop.html"><img src="https://cdn.shopify.com/s/files/1/0628/7690/9727/files/product1.jpg?v=1710241743" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="banner mb-30">
                                <a href="shop.html"><img src="https://cdn.shopify.com/s/files/1/0628/7690/9727/files/product2.jpg?v=1710241748" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="banner mb-30">
                                <a href="shop.html"><img src="https://cdn.shopify.com/s/files/1/0628/7690/9727/files/product3.jpg?v=1710241751" alt=""></a>
                            </div>
                        </div>
						
                    </div>
                </div>
            </div>
  
</div>
{% schema %}
  {
    "name": "Static Section",
    "settings": [],
    "presets":[{"name":"Landing Page"}]
  }
{% endschema %}