<div class="page-width">
  <div  class="container">
			<img src="https://cdn.shopify.com/s/files/1/0628/7690/9727/files/TEP_1.jpg?v=1710241518">
  </div>
</div>
{% schema %}
  {
    "name": "Static Section",
    "settings": [],
    "presets":[{"name":"Landing Page"}]
  }
{% endschema %}