<div class="videohtmltext">
  {{ product.metafields.custom.video_bottom_html_text }}
</div>
<style>
  .videohtmltext{text-align:center;}
</style>
{% schema %}
  {
    "name": "pdp-html",
    "settings": [
 
      
    ],
  
"presets":[{"name":"pdp-html"}]
  }
{% endschema %}