<style>
 .plp-faq details summary {color:#414042;padding:0; font-size: 1.25vw;  font-family: 'AvenirLTStd Black';background-color: #f1f1f1a3;
    padding: 10px;
    border-radius: 5px;}
  details summary::-webkit-details-marker {
  display:none;
}
  .plp-faq details{margin:10px 0;}
  .plp-faq .faq-heading{text-align:center;margin-top:0;}
 .plp-faq details  p{font-family: 'AvenirLTStd Roman';
    color: #33313b;font-size: 1.25vw;padding: 10px;line-height: var(--bs-body-line-height);}
   .faq-button{text-align:center;}
  .plp-faq details summary .question{font-size: 1.25vw;}
  #faqbtns{display:none;}
  .plp-faq details summary{list-style:none;    display: flex;
    justify-content: space-between;}
   #faqbtn svg {transform: rotate(90deg);margin-left: 5px;}
  .plp-faq details p{color:#414042;font-size:1.25vw;}
 
   .plp-faq  svg path{fill:#414042;}
 .faq-button{padding: 10px;color: #414042;width:22%;text-decoration:underline;cursor: pointer;
    margin: auto;}
   .plp-faq details summary .arrow-down svg,.plp-faq details summary .arrow-up svg{height: 10px;}
  .plp-faq details[open] summary .arrow-up svg{transform: rotate(180deg); }
  
.faq-section{background-color: #fff;padding:0 7%;}
 
  @media screen and (max-width:768px){
    .plp-faq details {padding-bottom: 5px;}
    .faq-section{padding:3px 0px;background-color: #fff; border-bottom: 1px solid #0000003d;}
    .faq-section:first-child {
  border-top: 1px solid #0000003d; 
} 
    .faq-heading{font-size:20px !important;margin:0;}
    .plp-faq details p{font-size:12px;color: #414042;}
   .plp-faq details p{font-size:15px !important;}
    .plp-faq details summary{font-size:15px;display:flex;}
    .plp-faq details summary .question{width:85%; color: #414042;font-size:16px;}
     }
</style>
{% if product.metafields.custom.pdp_faq_question_and_answer.value != blank %}
  <div class="faq-section">
<div class="plp-faq">
  <h2 class="like-product--title faq-heading">{{ section.settings.heading }}</h2>
  {%assign sizes =  product.metafields.custom.pdp_faq_question_and_answer.value %}
  {%for i in sizes %}
  {% assign question-arr =  i | split:"##"  %}
    
<details {% if forloop.index == 1 %} open {% endif %} >
  <summary>
    <span class="question">{{ question-arr[0] }} </span><span class="arrow-up">{% render 'icon-caret' %}</span>
  </summary>
  <p>
    {{ question-arr[1] }}
  </p>
</details>
  
     
   {% endfor %}
  
</div>
  </div>
{% endif %}
<script>
  // Fetch all the details element.
const detailss = document.querySelectorAll(".plp-faq details");

// Add the onclick listeners.
detailss.forEach((targetDetail) => {
  targetDetail.addEventListener("click", () => {
    // Close all the details that are not targetDetail.
    detailss.forEach((detaill) => {
      if (detaill !== targetDetail) {
        detaill.removeAttribute("open");
      }
    });
  });
});
  function showfaqpdp(){
      var x = document.getElementsByClassName("hidefaqpdp");
var i;
    document.getElementById('faqbtn').style.display ="none";
     document.getElementById('faqbtns').style.display ="block";
for (i = 0; i < x.length; i++) {
    x[i].style.display = 'block';
}
}
  function hidefaqpdp(){
      var x = document.getElementsByClassName("hidefaqpdp");
var i;
     document.getElementById('faqbtn').style.display ="block";
     document.getElementById('faqbtns').style.display ="none";
for (i = 0; i < x.length; i++) {
    x[i].style.display = 'none';
}
}
</script>
{% schema %}
  {
    "name": "FAQ Section",
    "settings": [
      {
      "type":"text",
      "id":"heading",
      "label":"section heading"
      }
       
      
      
    ],
    "presets": [
    {
      "name": "PDP-FAQ"
     
    }
  ]
  }
{% endschema %}

