.col-md-offset-4.col-md-4.col-xs-12.text-center.business > * {
  flex: 1;
  margin: 0;
}
.rte {
  max-width: 550px;
  margin: auto;
}
.heading-bussiness {
  font-size: clamp(25px, 2vw, 30px);
}
h1.heading-bussiness {
  margin-bottom: 4rem;
}
.main-page h3 {
  font-size: clamp(17px, 2vw, 20px);
}
.main-page p {
  line-height: normal;
  font-size: clamp(14px, 2vw, 16px);
}
.col-md-offset-4.col-md-4.col-xs-12.text-center.business {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid lightgrey;
}
.for-business.main-page p {
  font-size: 14px;
}
.rte {
  text-align: center;
}
.col-md-offset-4.col-md-4.col-xs-12.text-center.business {
  margin-bottom: 5px;
  padding-bottom: 22px;
}
h1.main-page-title.page-title {
  text-align: center;
  line-height: normal;
}
.update {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: bold;
}
