.home-grid-section .container {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-gap: 5px;
  width: 100%;
}
.home-grid-section .container p {
  font-family: "PPMonumentNormal-Regular";
}

.home-grid-section .watch-card {
  background: #486b9c;
  position: relative;
  width: 100%;
  aspect-ratio: 3/4;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.home-grid-section .grid-item.span-desktop-2 .watch-card {
  aspect-ratio: 6/3.95;
}

.home-grid-section .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: height 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: end;
}
.home-grid-section .watch-image {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  display: block;
  transition: height 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
.home-grid-section .arrow-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
}
.home-grid-section .watch-card:hover .watch-image {
  height: calc(100% - 130px);
}
.home-grid-section .overlay {
  background: #486b9c;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 9px 0;
  transform: translateY(-100%);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
.home-grid-section .watch-card:hover .overlay {
  background: #486b9c;
  clip-path: inset(0 0 0 0);
  transform: translateY(0);
}
.home-grid-section .overlay-content {
  text-align: center;
  transform: translateY(-30px);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.home-grid-section .watch-card:hover .overlay-content {
  transform: translateY(0);
  opacity: 1;
}
.home-grid-section .overlay-content p {
  font-size: 13px;
  line-height: 1.6;
}
.home-grid-section .arrow {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.home-grid-section .arrow svg {
  width: 51px;
  height: 51px;
  stroke: currentColor;
  stroke-width: 2;
  fill: none;
  bottom: 0;
  position: absolute;
  transition: transform 0.5s ease, color 0.4s ease;
}
.arrow-alt {
  transform: translateX(-50%) translateY(50%); /* off bottom-left */
  opacity: 0;
}
.arrow:hover .arrow-main {
  transform: translateX(50%) translateY(-50%); /* exits top-right */
  opacity: 0;
}
.arrow:hover .arrow-alt {
  transform: translateX(0) translateY(0); /* enters from bottom-left */
  opacity: 1;
}

/* Desktop Grid Classes */
.home-grid-section .grid-item.span-desktop-1 {
  grid-column: span 1;
}
.home-grid-section .grid-item.span-desktop-2 {
  grid-column: span 2;
}

@media only screen and (min-width: 750px) and (max-width: 1023px) {
  .home-grid-section .container {
    grid-template-columns: repeat(4, 1fr);
  }
  .home-grid-section .grid-item.span-tablet-2 .watch-card {
    aspect-ratio: 6/3.95;
  }
  .home-grid-section .grid-item.span-tablet-1 .watch-card {
    aspect-ratio: 3/4;
  }
  .home-grid-section .grid-item.span-tablet-1 {
    grid-column: span 1;
  }
  .home-grid-section .grid-item.span-tablet-2 {
    grid-column: span 2;
  }
}

@media only screen and (max-width: 749px) {
  .home-grid-section .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .home-grid-section .grid-item.span-mobile-2 .watch-card {
    aspect-ratio: 6/3.95;
  }
  .home-grid-section .grid-item.span-mobile-1 .watch-card {
    aspect-ratio: 3/4;
  }
  .home-grid-section .grid-item.span-mobile-1 {
    grid-column: span 1;
  }
  .home-grid-section .grid-item.span-mobile-2 {
    grid-column: span 2;
  }
  .home-grid-section .overlay-content p {
    font-size: 12px;
    color: #fff;
  }
}