.explore-sec {
  padding: 147px 85px 107px;
}
.explore-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.explore-content h2 {
  font-size: 40px;
}
.explore-content p {
  max-width: 831px;
  font-size: 17px;
}
.explore-parent-card {
  margin-top: 111px;
}
.explore-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}
.explore-slide {
  position: relative;
  background: black;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  border-right: 1px solid #ffffff4d;
  box-sizing: border-box;
  transition: background 0.5s ease;
}
.explore-slide:first-child {
  border-left: 1px solid #ffffff4d;
}
.card-text {
  font-size: 20px;
  z-index: 2;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 50px;
}
.card-hover-description {
  display: none;
  font-size: 18px;
  margin: 10px 0;
  color: #000;
  transition: opacity 0.5s ease;
}
.explore-slide.active .card-hover-description {
  display: block;
}
.explore-slide.active {
  background: #fff;
  color: #000;
  padding: 15px 15px 10px;
}
.video-wrapper {
  display: none;
  z-index: 1;
}
.card-image {
  height: auto;
}
.card-video {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.explore-slide.active .card-image {
  display: none;
}

.explore-slide.active .video-wrapper {
  display: block;
}