.related-products {
  display: block;
}

.related-products__heading {
  margin: 0 0 17px;
}
.related_products_swiper .card-information .productcardcolorswatch{max-width:unset;visibility:visible;justify-content:center;margin:auto;    float: none;}
.related_products{padding:0 120px;max-width:1920px;margin:0 auto;}

@media(max-width:749px)
{   
  .related_products_swiper .card-information .productcardcolorswatch{gap:1px;}
.related_products{padding:0 0 0 20px;}
}
.titan_main_product div:empty{display:block} 