.shopallcolortext{text-transform: capitalize;font-size: 1.09vw;color: #231f20;
    font-family: AvenirLTStd Roman; }
.shopallcolortext a{color:#000;text-decoration:underline;}
.variants_buttoncustom.swatchesfont.color-swatch{padding-bottom:5px;} 
@media screen and (min-width:2300px){
        .swatchSlash {
        width: 3.8vw!important;
        left: -2%!important;
        top: 40%!important;
        transform: rotate(22deg)!important;
      }
      .product .variantParent .variantSelector input[type=radio]+label, .variants_buttoncustom label {
            min-width: 90px!important;
      }
    }
 @media screen and (min-width:1900px){
        .swatchSlash {
        width: 4vw!important;
          left: -6%!important;
        top: 45%!important;
        transform: rotate(22deg)!important;
      }
   .product .variantParent .variantSelector input[type=radio]+label, .variants_buttoncustom label {
            min-width: 90px!important;
      }
 }
#shopify-section-announce-new-bar{
  position: sticky;
}

.sticky-top{
  position: sticky;
  
}
#template-product{
  padding: 0 5%;
/*   background-color: #FFFDF7; */
}

.product .swipe-global .thumbnail-media
{
  width:98%;
}

.container_wrapercustom{
  padding-left:0px;
    padding-right:0px;
}
 .next-btn-pro, .pre-btn-pro{ 
        border-radius: 100%;
        border: 1px solid #707070;
       width: 40px;
       height: 40px;
       padding: 16px;
    }

 .btn-wishlist{z-index: 9;position: absolute;right: 10px;top:5px;}
 .btn-share, .btn-share:active{
      z-index: 9;
    position: absolute;
    right: 10px;
    top: 70px;
   border: 0px;
}
.btn-share-mobile svg{ display:none;}
.thumbnail-media .inner-div{ width:100%; height: auto; display:flex; flex-wrap: nowrap; overflow-x: scroll;padding-top:10px; scroll-behavior: smooth;
                             -ms-overflow-style: none; /* IE 11 */   scrollbar-width: none; /* Firefox 64 */}
.thumbnail-media .inner-div::-webkit-scrollbar {
    display: none;
}
.carousel-item-div{ width:149px; height: auto; flex-basis: 149px;  flex-grow: 0;  flex-shrink: 0;}
.product-right--content{ padding-left: 1.5%; padding-top: 0.5%;}
.product-title{
  font-size: 1.9vw;
  margin-bottom: 5px
   color:#58595B;
/*    line-height:45px; */
 font-family: 'AvenirLTStd Black';
/*   padding-right:5%; */
  padding-bottom:0%;
  padding-top:1.5%;
}
.sub-description{
  color:#231F20;
 font-size: 1.1vw;
  font-family: 'AvenirLTStd Roman';
/*   line-height:58px; */
  padding-right: 5%;
}
.product-price-final .money {
      font-size: 1.6vw;
  line-height:58px;
  color:#231F20;
  font-family: 'AvenirLTStd Roman';
  padding-right:2%;
}
.product-price{
/*    margin-top: 0.5%; */
}
.product-price-compare .money{ color:#8A8C8E; vertical-align: text-bottom;}
.product-price-compare{
     font-size: 1vw;
/*   line-height : 47px; */
  color:#8A8C8E;
  font-family:"Neutra Display, Medium";
}
.new-bg{ 
font-size: 1.2vw;
/*     line-height: 36px; */
    padding-left: 1%;
    vertical-align: super;  
   font-family:"Neutra Display, Medium";
}
.tax-info{
font-size: 1vw;
  margin-top: -10px;
  letter-spacing: 0px;
/*   line-height:58px; */
  color:#231F20;
  font-family: 'AvenirLTStd Roman';
}
.product .product-right--content .feat-hr
{
  margin-top: 6px;
    margin-bottom: 10px
}
.product-features .feature-title{
    font-size: 1.2vw;
    color: #33313b;
    padding-left: 5%;
    font-family: "Inter-Light";
}

.product-features .info-block{
  padding-bottom:5%;
  padding-top:5%;
  align-items: center;
    justify-content: flex-start;
}
.product-features{
  padding-left:10%;
  padding-right:10%
}
.feature-icon{
  width:40px;
  height:40px;
}
/* swtchs design*/
.SwatchLabel{
  color: #231F20;
  font-family: 'AvenirLTStd Roman';
  font-size: 1.09vw;
  line-height: 25px;
  margin-bottom:1%;
}
.SwatchLabel{
  gap:6px;
}
.option-name{
  font-family: "Neutra Display, Medium";
  font-size: 1.09vw;
/*   line-height:58px; */
  color:#231F20;
}
.myclass{ margin-bottom: 0%;    margin-right: 20%;}
.variantlabel{width:100%;display:inline-block;position:relative;}
.variants_buttoncustom{width:auto;display:inline-block;position:relative;padding-right: 1.5%; padding-bottom:2%;}
.variants_buttoncustom input{position:absolute;visibility:hidden;}
.variants_buttoncustom label{display:inline-block;position:relative;
     text-align:center;padding:1px; vertical-align:center; }
.variants_buttoncustom input[type=radio]+label , .variants_buttoncustom label {
    color: #231F20;
font-family: 'AvenirLTStd Roman';
    min-width: 50px;
    border: 1px solid #231F20;
     text-align:center;
    background: transparent;
  border-radius: 5px;
}

 .variants_buttoncustom input[type=radio]:checked +label {
    
/*     min-width: 56px; */
    border: 1px solid #231F20;
    background: #000000;
    color: #ffffff;
   border-radius: 5px;
}
.color-swatch input[type=radio]+label {
 height: 37px;
  min-width: 40px;
}
.variants_buttoncustom label[disabled]{
    opacity: 0.6;
    cursor: not-allowed !important;
    position: relative;
    color: #B0B0B0 !important;
    border-color: #B0B0B0 !important;
    background:#fff!important;color:#000!important;
}
.variants_buttoncustom label[disabled]::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
   
}
/* quantity css*/
/* .quantity-box{
  margin-top:25px;
  margin-bottom:25px;
} */
 .quantity-text{
   color: #404040;
   font-size: 1.1vw;
   font-family: "Inter-Light";
   line-height:25px;
   margin-top: 1%;
   margin-bottom:2%;
   text-transform: uppercase;
 }
 .quality{
        display:flex;
        width: 198px;
       height: 3vw;
/*        background-color:#FFF7E5; */
       margin-right: 2%;
    }
    input.quantity-input{
        width: 102px;
       height: 3vw;
        font-size: 1.1vw;
        background:#Ffff;
        color:#404040;
        border: none;
        text-align:center;
        font-family: "Inter-Regular";
    }
    input.quantity-input:focus-visible{
        border: none !important;  
        border-radius: none !important;
        outline: none !important;
        background:#202020 !important;
        color:#fff !important;
       

    }
    .control-btn{
      display: flex;
    align-items: center;
    justify-content: center;
        width:41px;
      height: 3vw;
        border:none;
       background-color: #000000;
       font-size:30px;
        margin:auto;
/*        padding-left:15px; */
      font-family: "Neutra Display, Medium";
      color:#ffffff;
          cursor: pointer;
    }
    /* Chrome, Safari, Edge, Opera */
   .quality input::-webkit-outer-spin-button,
   .quality input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
    }

    /* Firefox */
    .quality input[type=number] {
    -moz-appearance: textfield;
    }
.quantity-addtocart-btn{ display:flex;margin-bottom: 1.1rem; }
.product .product-right--content .shopify-product-form .btn-atc 
{
  font-size: 1.1vw;
    height: 3vw;
}
.product .product-right--content .shopify-product-form .btn-buy
{
  font-size: 1.1vw;
    height: 3vw;
}
.add-to-cart-btn , .add-to-cart-btn:active, .add-to-cart-btn:hover, .add-to-cart-btn:focus-visible {
 background:#fff;
    font-size: 1.3vw;
    /* line-height: 82px; */
    height: 3.2vw;
    color: #000000;
    font-family: 'Inter-Bold';
  text-transform: uppercase;
  border:1.5px solid !important;
  border-radius: 5px !important;
  box-shadow: none; 
}
.buy-now-btn , .buy-now-btn:active , .buy-now-btn:hover, .buy-now-btn:focus-visible{
  background: #282728;
    font-size: 1.3vw;
    color: #6EB3BC;
    height: 3.2vw;
    font-family: 'AvenirLTStd Roman';
    text-transform: uppercase;
    border: 0px!important;
    border-radius: 5px !important;
    box-shadow: none;
}
.product-other-info{
  background: #ffffff;
    width: auto;
    padding: 2% 2%;
    margin: 0 2%;
}

.other-info{
         font-size: 0.9vw;
    letter-spacing: 0px;
   font-family:"Inter-Light";
    line-height: 19px;
    color: #404040;
    padding-left: 3%;
    padding-right: 2%;
    
}
.info-flex--block img{
  width: 56px;
}
.other-info span{ font-family:"Inter-Regular"; }

/*Offer for You*/
#product-accordion .offer-accordion{
  font-size: 1.1vw;
  letter-spacing:0px;
  background: #FFFDF7;
  border-bottom: 1px solid #707070;
/*   MARGIN: 0 2%; */
  color:#000000;
  font-family: 'AvenirLTStd Black';
padding:10px;
}
.scroll-offer{
  gap:20px;
}
.accordion-body.scroll-offer{padding: 1rem 0.5rem !important;}
 .offer-detail-block{
  border: 2px dashed #000000;
/*   width: 24.5vw; */
  width: 20vw;
  padding: 1%;
   position:relative;
   border-radius: 5px;
}
.offer-detail-block .offer-head
{
  width:41px;
}
.offer-head img {
      width: 100%;
    height: auto;
   padding-left: 1%;
    margin-right: 3%;}
#product-accordion .offer-title{
   color: #000000;
   font-size: 17px !important;
    letter-spacing: 0px;
    line-height: 41px;
   font-family: 'AvenirLTStd Black';
}
#product-accordion .offer-body{
  color: #ffffff;
       font-size: 1.0vw;
    letter-spacing: 0px;
    line-height: 20px;
    padding: 3%;
    font-family:"Inter-Light";
}
.offer-body span{
  font-family:"Inter-Medium";
}
.info-flex--block{
  display:flex;
}
.info-flex--block, .product-other-info .row{
  align-items: center;
  
}
#product-accordion .copy-text{
 font-family: 'Inter-Medium';
    font-size: 0.7vw;
    background: #000000;
    color: #ffffff;
  border-radius: 3px;
  padding: 0% 2%;
  line-height:25px;
  position:absolute;
  right: 4%;
  top: 13%;
}
.scroll-offer{
  display: flex;
    overflow-x: scroll;
  scroll-behavior: smooth;
  user-select: none;
  -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}
.scroll-offer::-webkit-scrollbar {
    display: none;
}
.variant----size-chart---div{
  position:relative;
   padding: 1px;
  margin-bottom: 12px;
}
.size-chart{
  position: absolute;
    top: 36%;
    right: 25px;
    gap: 7px;
    align-items: normal;
}
.size-chart svg{
    margin-top: 8px;
}
.size-chart-text{
  color: #000000;
    font-family: "Inter-Light";
    font-size: .95vw;
    text-decoration: underline #000000;
      cursor: pointer;
}

/* sticky add to cart  */

.sticky-addtocart{
  background:#f6f6f6;
  z-index: 1044;
  padding-top: 1%;
  position: fixed;
  width:101%;
  top:0;
  padding-bottom: 0.5%;
}
.sticky-addtocart--product-image{
  width: 63px;
    height: 85px;
    margin-right: 2%;
}
.sticky-addtocart--product-title{
  font-size: 1.52vw;
  flex-basis: unset;
   font-family: "Inter-bold";
  min-width: 380px;

}
.sticky-addtocart--product-price-final .money{
  font-size:1.49vw;
    font-family: "Inter-bold";
  color:#000000;
}
.sticky-addtocart--product-price-compare .money{
    font-size: 0.7vw;
    vertical-align: initial;
    margin: 0 1.5%;
   font-family: "Inter-bold";
  text-decoration: line-through;
}
.sticky-addtocart--new-bg{
  font-size:0.9vw;
 color: #ffffff;
    font-family: "Inter-bold";
    vertical-align: text-bottom;
}
.sticky--atc--product-options {
  margin-right:3%;
  display:flex;
  flex-basis:50%;
  align-items: flex-end;
  gap: 10px;
  padding-top:2%;
}
.sticky--atc-product-option{
  font-size: 1.3vw;
    font-family: "Inter-bold";
    border-radius: 6px;
    height: 56px;
    margin-top: -4%;
    background-color: #ffffff;
}
.sticky--btn-atc, .sticky--btn-atc:active , .sticky--btn-atc:focus, .sticky--btn-atc:hover{
   background:#282728;
     font-size: 1.4vw;
 color:#ffffff;
  height: 56px;
  font-family: 'AvenirLTStd Black';
  text-transform: uppercase;
  border:10px !important;
  border-radius: 8px !important;
  padding: 0 75px;
  flex-basis: 50%;
  box-shadow: none;
}
.sticky-form{
  justify-content: flex-end;
   width:100%
}
.sticky-form form{
  width:100%;
}
.sticky-form .input-group>.form-control, .input-group>.form-select{
 
  width:100%;
  min-height: 56px;
  border-radius: unset;
}
.sticky--atc--dflex--block{
  align-items: center;
      margin-top: 2%;
  justify-content: end;
}
.form-select:focus{
    border-color:transparent !important;
    outline: 0 ;
    box-shadow:none !important;
  }

@media (max-width:1367px){
  .feature-icon{width: 40px;  height:40px;}
  .size-chart{  top:39%;  }
  .carousel-item-div {flex-basis: 120px;}
  
@media (min-width:969px) and (max-width: 1266px){
  .carousel-item-div {flex-basis: 97px;}
  .size-chart {  top: 37%; right: 0px; }
  .after-buy-now-icon{ width:47px; height:auto;}
  .next-btn-pro, .pre-btn-pro {  width: 25px;  height: 25px;   padding: 12px; }
  .offer-body {  font-size: 16px;   line-height: 23px; }
  .offer-title {   font-size: 18px;    line-height: 37px;}
    .other-info { font-size: 15px; line-height: 19px;}
  .sticky--btn-atc, .sticky--btn-atc:active, .sticky--btn-atc:focus, .sticky--btn-atc:hover {
   height: 48px;  padding: 0 30px; }
  .sticky--atc-product-option { height: 48px;}
  .sticky-addtocart--product-image {  width: 56px; height: 64px;}
  .sticky-addtocart--new-bg{ font-size:14px;}
  .sticky-addtocart--product-price-compare .money {  font-size: 13px;}
  .sticky-addtocart--product-price-final .money {  font-size: 18px; }
  .sticky-addtocart--product-title { font-size: 20px; }
}
@media (min-width:576px) and (max-width: 992px){
  #template-product {padding: 0 1%;}
  .product-title { font-size: 32px;}
  .sub-description {  font-size: 18px; }
  .product-price-final .money { font-size: 28px; line-height: 40px;}
  .new-bg {font-size: 20px;vertical-align: text-bottom;}
  .tax-info {font-size: 20px;}
  .info-block { padding-bottom: 2%; padding-top: 2%;}
  .feature-title { font-size: 22px; padding-left: 6%; padding-top: 0%; }
  .SwatchLabel { font-size: 20px;}
  .option-name { font-size: 20px; line-height: 32px;}
  .size-chart-text { font-size: 15px;}
  .quantity-text {font-size: 20px;}
  .add-to-cart-btn, .add-to-cart-btn:active, .add-to-cart-btn:hover, .add-to-cart-btn:focus-visible,
  .buy-now-btn, .buy-now-btn:active, .buy-now-btn:hover, .buy-now-btn:focus-visible
  { font-size: 20px;  height: 58px;}
  input.quantity-input {height: 58px; font-size: 20px;}
  .quality { height: unset;}
  .other-info { font-size: 20px; line-height: 26px;}
  .offer-accordion { font-size: 24px; }
  .offer-detail-block { width: 500px;}
  .offer-body { font-size: 18px; line-height: 30px;}
  .offer-title { font-size: 20px; line-height: 42px;}
  .copy-text {font-size: 15px;padding: 1% 3%; top: 9%;}
}
@media (min-width:723px) and (max-width: 968px){
  .sticky--btn-atc, .sticky--btn-atc:active, .sticky--btn-atc:focus, .sticky--btn-atc:hover {
   height: 38px;  padding: 0 30px; font-size:14px; }
  .sticky--atc-product-option { height: 38px; font-size:14px;}
  .sticky-addtocart--product-image {  width: 56px; height: 56px;}
  .sticky-addtocart--new-bg{ font-size:14px;}
  .sticky-addtocart--product-price-compare .money {  font-size: 12px;}
  .sticky-addtocart--product-price-final .money {  font-size: 16px; }
  .sticky-addtocart--product-title { font-size: 16px; }
  .sticky-addtocart{ padding-bottom:0px;}
}
@media (min-width:500px) and (max-width: 722px){
  .sticky-addtocart--product-title{ min-width:172px;}
  .sticky--btn-atc, .sticky--btn-atc:active, .sticky--btn-atc:focus, .sticky--btn-atc:hover {
   height: 32px;  padding: 0 10px; font-size:12px; }
  .sticky--atc-product-option { height: 32px; font-size:12px;}
  .sticky-addtocart--product-image {  width: 44px; height: 50px;}
  .sticky-addtocart--new-bg{ font-size:12px;}
  .sticky-addtocart--product-price-compare .money {  font-size: 9px;}
  .sticky-addtocart--product-price-final .money {  font-size: 14px; }
  .sticky-addtocart--product-title { font-size: 16px; }
  .sticky-addtocart{ padding-bottom:0px;}
}
@media(max-width:600px){
  .offer-detail-block_rspnsv{height:auto!important}
  .variants_buttoncustom input[type=radio]+label , .variants_buttoncustom label {
    min-width: 40px;
  }
.product-right--content{ padding-left:4%; overflow: hidden;}
#template-product{  padding: 0% !important;}
.thumbnail-media{display:none;}
  .main-image-container{ margin-left:0%; margin-top:5%;}
.wishlist-icons svg{ width: 20px; height: 20px;}
  .btn-wishlist{ right: 18px;  top:15px;}
 .share-icons .btn-share svg{display:none;} 
.share-icons .btn-share-mobile svg{ width: 25px; height: 25px;} 
 .btn-share-mobile, .btn-share-mobile:active{
      z-index: 9;
    position: absolute;
    right: 15px;
    top: 60px;
  
}
.btn-share-mobile svg{ display:block;}
  .next-btn-pro, .pre-btn-pro {
    width: 19px;
    height: 19px;
    padding: 10px;
}

.product-title{ font-size: 28px; padding-bottom:2%; padding-top:0.5%; }
.sub-description{ font-size: 15px; color:#8A8C8E; line-height:19px; }
.product-price-final .money {font-size: 5.6vw;line-height:29px; }
.product-price-compare{ font-size: 12px; }
.new-bg{ font-size: 17px; vertical-align: text-bottom;}
.tax-info{ font-size:4vw;margin-top:0px }
.feature-title{  font-size: 22px;  padding-left: 4%; }
.info-block{  padding-bottom:4%;  padding-top:4%; }
.product-features{  padding-left:.5%;  padding-right:.5% }
.feature-icon{  width:44px;  height:44px;}
.SwatchLabel, .quantity-text {  font-size: 15px; }
.option-name{ font-size: 4vw;}
.color-swatch input[type=radio]+label,  .variants_buttoncustom input[type=radio]:checked +label,
.variants_buttoncustom input[type=radio] +label {
/*      width: 40px; */
/*      height:40px; */
/*      height:35px; */
     line-height: 32px;
/*      line-height: 36px; */
     margin-bottom:2%;
   }
  .size-chart { top: 28%; }
  .size-chart-text{ font-size:10px;}
  .size-chart img{ width:27px; height:16px; margin-top:12%;}
  .quality{  width: 144px; height: 36px;}
  input.quantity-input{ width:76px; height: 36px; font-size: 24px; }
  .control-btn{ width:50px;  font-size:24px;height:unset;}
  .quantity-addtocart-btn{ display:block;}
  .add-to-cart-btn , .add-to-cart-btn:active, .add-to-cart-btn:hover{
    font-size: 19px;
    height: 56px;
    margin-top:20px;
  }
.buy-now-btn , .buy-now-btn:active , .buy-now-btn:hover{
  font-size: 19px;
    height: 56px;
}
  .variant----size-chart---div{padding: 0px;}
  .info-flex--block{ display:block;}
  .other-info{ font-size:17px; text-align:center;}
  .info-flex--block img{ display: block;  margin-left: auto;  margin-right: auto; width: 53px; height: 53px;}
  .product-other-info { margin:0;margin-left: -4% ; margin-right:-4%; overflow:hidden;}
  .info-flex--block, .product-other-info .row{  align-items: unset;}
  .scroll-offer { padding-left: 10px; padding-top: 15px; }
  .offer-accordion{ font-size:18px; margin: 0; padding-bottom: 4px; padding-left:1px;}
  .offer-body{ font-size:15px; line-height:21px; padding: 2%;}
  .offer-title { font-size:15px; }
  .offer-detail-block{ width: 302px; height: 125px;}
  .copy-text { font-size:10px;}

  #shopify-section-announce-new-bar{
    margin-top: 0%;
  }
  .sticky-addtocart--product-image {
    width: 38px;
    height: 46px;
    margin-right: 2%;

}
  .sticky-addtocart{
    width:100%;
  bottom:0;
   top: initial;
  padding:2%;
    margin-bottom: -9%;
    left:12px;
}
  .sticky-form {
    padding-bottom: 5%;
}
  .product-title--price-block{
    display:flex;
    gap: 5px;
  }
  .sticky-addtocart--product-title {
    font-size: 13px;
    flex-basis: 50%;
    line-height: initial;
    margin-top: 2.5%;
    min-width: 120px;
  }
  .sticky-addtocart--product-price-final .money{
    font-size:4vw;
    color:#000000;
  }
  .sticky-addtocart--product-price-compare .money {
    font-size: 10px; text-decoration: line-through; vertical-align: text-top;}
  .sticky-addtocart--new-bg{
    font-size:9px;
    vertical-align: bottom;
    width: 54px;
    margin-top: 3%;
    margin-left: -35%;
  }
  .sticky--atc--product-options{
    padding-top:0;
    margin-top: 2%;
  }
  .sticky--atc-product-option {
    font-size:16px;
    height:50px;
    padding:14px;
  }
 .sticky--btn-atc, .sticky--btn-atc:active, .sticky--btn-atc:focus, .sticky--btn-atc:hover {
      font-size: 12px;
    height: 50px;
    padding: 0 18px;
   font-family: "Inter-bold";
}
  .regular-price---offer{
    display: flex;
    gap: 7px;
  }
  .sticky-form .input-group>.form-control, .input-group>.form-select{
    min-height: unset;
  }
  .sticky-addtocart--product-price-compare { width:100%;}
  .sticky--atc--product-options  .form-select:focus{
    border-color:transparent;
    outline: 0;
    box-shadow:none;
  }
  .sticky--atc-product-option option: focus-visible{
    background: #F8B6C1;
  }
  .sticky--atc--dflex--block {
     justify-content: center;
}
 .sticky-addtocart-mob-productDetail {
     width: 100%;
    margin: auto;
    padding-left: 3%;
  }
}
  
@media( max-width:600px)
{
  .offer-detail-block .offer-head
{
  width:16%;
  gap:10px;
}
  .variants_buttoncustom.swatchesfont.color-swatch{padding-bottom:0px;} 
  .shopallcolortext{    font-size: 4vw;}
  #product-accordion .offer-accordion 
  {
    font-size: 5vw;
  }    
  #product-accordion .offer-title 
  {
    font-size: 3.5vw;
  }
  #product-accordion .offer-head img 
  {
    margin-right:0px;
  }
  #product-accordion .copy-text
  {
    font-size: 3vw;
  }
  #product-accordion .offer-body 
  {
    font-size: 3.59vw;
  }
  .product-other-info .other-info 
  {
    font-size: 3.59vw;
    text-align: center;
    margin-top: 10px;
  }
  .product .quantity-addtocart-btn .quality input.quantity-input
  {
    font-size: 4.8vw;
  }
  .product .quantity-addtocart-btn .btn-atc
  {
    font-size: 4.5vw;
  }
  .product .btn-buy
  {
    font-size: 4.5vw;
  }
  .product .quantity-text
  {
    font-size: 4vw;
  }
  .product .form-wrapper .shopify-product-form .product-options .SwatchLabel
  {
    margin-bottom: 10px;
    font-size: 4vw;
  }
  .product .form-wrapper .shopify-product-form .product-options .size-chart
  {
    right:0px;
  }
  .product .form-wrapper .shopify-product-form .product-options .size-chart .size-chart-text
  {
    font-size:3.5vw;
  }
  .product .sub-description
  {
    margin-bottom:10px;
  }
  .product .tax-info{ margin-top:0px }
  .product .product-features .feature-title
  {
    font-size: 3.7vw;
  }
   .product .feature-icon
  {
    width: 50px;
    height: 50px;
  }
  .product .product-right--content .shopify-product-form .btn-atc 
  {
    font-size: 4.5vw;
    height: 12vw;
  }
  
  .product .product-right--content .shopify-product-form .btn-buy
  {
    font-size: 4.5vw;
    height: 12vw;
  }
  .product .product-other-info
  {
    margin-bottom: 5%;
    margin-top: 5%;
  }
  .product .product-title
  {
    font-size: 6vw;
  }
  .product .size-chart
  {
    top: -3.5%;
   }
  .product .row .carousel
  {
    padding-right:0px;
  }
  
}

  .product .product-right--content .form-wrapper #th_product_bundle .th_pb_innercode .th_pb_title h4
  {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .1em;
    color: #434343;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .product .product-right--content .form-wrapper #th_product_bundle .th_pb_innercode .th_pb_list .th_pb_list_ul
  {
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
.product .product-right--content .form-wrapper #th_product_bundle .th_pb_innercode .th_pb_list .th_pb_list_ul .li_product_list
  {
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
   max-width: 45%;
    padding: 16px;
  }

 .product .product-right--content .form-wrapper #th_product_bundle .th_pb_innercode .th_pb_list .th_pb_list_ul .li_product_list .th_product_img img
  {
    height: 200px;
    object-fit: unset;
    width: unset;
    margin: auto;
    float: none;
  }
 .product .product-right--content .form-wrapper #th_product_bundle .th_pb_innercode .th_pb_list .th_pb_list_ul .li_product_list .th_pb_list_pro_detail h6
{
  margin-top:4%;
  text-align:center;
}

   .product .product-right--content .form-wrapper #th_product_bundle .th_pb_innercode .th_pb_list .th_pb_list_ul .li_product_list .th_pb_list_content .th_pb_list_pro_detail .th_pb_variants_section
{
    display: flex;
    gap: 7%;
}
  .product .product-right--content .form-wrapper #th_product_bundle .th_pb_innercode .th_pb_list .th_pb_addtocart_section .button
  {
    width: 30%;
    margin: auto;
  }
@media screen and  (min-width:400px) and (max-width:600px){
 #product-accordion .offer-title 
  {font-size: 16px !important;}}
  @media screen and  (min-width:980px)  and (max-width:1024px){
 #product-accordion .offer-title 
  {font-size: .7vw;
  }}
@media (max-width: 350px){
.offer-detail-block {width: 270px; height: 107px;}
}
@media (max-width: 320px){
.offer-detail-block {width: 250px;height: 107px;}}
  }

.main-image-container .customvideoratio {
    --bs-aspect-ratio: 122.25% !important;
}
  .variantSelector.Size {
    margin-bottom: 5px;
}