.store_details_inner {
    width: fit-content;
    margin: auto;
    margin-bottom: 50px;
}
.store_details_heading {
    color: #47143d;
    font-size: 48px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
    font-family: 'Poppins-Regular';
    margin-bottom: 25px;
}
.store_details_contact_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 25px;
}
.store_details_time {
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    color: black;
    font-weight: 400;
    font-family: 'Poppins-Regular';
}
.store_details_direction, .store_details_call {
    border: none;
    padding: 0;
}
.store_details_direction a {
    background: linear-gradient(90deg,#3c3b3b,#b9989a 100.23%);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: fit-content;
    font-size: 15px;
    border: none;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
    font-family: Poppins-Regular;
}
.store_details_call a {
    background: linear-gradient(90deg,#3c3b3b,#b9989a 100.23%);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: fit-content;
    font-size: 15px;
    border: none;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
    font-family: Poppins-Regular;
}
.store_details_call a svg {
    margin-right: 5px;
}
.store_details_direction a svg {
    margin-right: 5px;
}
.store_details_location_inner {
    display: flex;
    justify-content: space-between;
}
.store_general_details_parent {
    flex: 0 0 auto;
    width: 40%;
    padding-top: 30px;
}
.store_map_div {
    flex: 0 0 auto;
    width: 55%;
}
.store_general_name {
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    color: #534445;
    border-bottom: 1px solid #E5E7EB;
    margin-bottom: 10px;
}
.store_general_address {
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    color: black;
    margin-bottom: 10px;
}
.store_general_phone {
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    color: black;
    margin-bottom: 10px;
}
.store_general_time {
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    color: black;
}
.store_general_details {
    border: 2px solid #E5E7EB;
    padding: 22px 30px;
    border-radius: 17px;
    margin-bottom: 50px;
}
.contact_and_language {
    border: 2px solid #E5E7EB;
    padding: 22px 30px;
    border-radius: 17px;
}
.reach {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    color: #483830;
    text-decoration: underline;
    margin-bottom: 15px;
}
.language {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    color: #483830;
    text-decoration: underline;
}

@media screen and (max-width: 999px) {
    .store_details_heading {
        font-size: 30px;
        line-height: 32px;
    }
    .reach {
        font-size: 15px;
        line-height: 20px;
        text-align: center;
    }
    .language {
        font-size: 15px;
        line-height: 20px;
        text-align: center;
    }
    .store_general_name {
        font-size: 18px;
        line-height: 24px;
    }
    .store_details_location_inner {
        flex-direction: column;
        gap: 50px;
    }
    .store_general_details_parent {
        width: 100%;
    }
    .store_map_div {
        width: 100%;
    }
    .store_details_inner {
        margin-bottom: 0;
    }
    .store_general_details {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .store_details_heading {
        font-size: 20px;
        line-height: 24px;
    }
    .store_details_contact_btns {
        gap: 5px;
        margin-bottom: 15px;
    }
    .store_general_details_parent {
        margin-top: 15px;
        padding: 0;
    }
    .store_general_name {
        font-size: 16px;
        line-height: 22px;
    }
    .store_general_address {
        font-size: 15px;
        line-height: 18px;
    }
    .store_general_phone {
        font-size: 15px;
        line-height: 18px;
    }
    .store_general_time {
        font-size: 15px;
        line-height: 18px;
    }
    .store_general_details {
        margin-bottom: 20px;
    }
    .store_details_location_inner {
        gap: 20px;
    }
    .store_details_time {
        font-size: 15px;
        line-height: 20px;
    }
}
@media screen and (max-width: 360px) {
    .store_details_contact_btns {
        flex-direction: column;
    }
    .store_details_direction, .store_details_call {
        width: 100%;
    }
    .store_details_direction a, .store_details_call a {
        width: 100%;
    }

}